@font-face
{
	font-family: "8bitOperator";
	src: url("8bitOperatorPlusSC-Regular.woff");
}

*
{
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: "8bitOperator";
	color: #ffffff;
}

#background
{
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
}

#bgCanvas
{
	width: 100%;
	height: 100%;
	background-color: black;
}

#foreground
{
	text-align: center;
	overflow: hidden;
	height: 100vh;
}

#header
{
	position: fixed;
	height: 10%;
	width: 100%;
	background-image: linear-gradient(to bottom, black, transparent);
}

#title
{
	display: flex;
	width: 100%;
	height: 70%;
	font-size: 200%;
	align-items: center;
	justify-content: center;
}

#tagline
{
	width: 100%;
	height: 30%;
	font-size: 100%;
}

#spacer
{
	height: 10%; /*must match #header*/
	width: 100%;
}

#gameList
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	margin-left: 10vw;
	overflow: auto;
	width: 92%;
	height: 100%;
}

.gameProfile
{
	background-color: #000000;
	width: 14vw;
	height: 14vw;
	border: .5vw solid #0090d0;
	margin: 2.5vw;
	transition: all .4s;
	border-radius: 10%;
}

.gameProfile:hover
{
	width: 19vw;
	height: 19vw;
	border: .5vw solid #00c0ff;
	margin: 0vw;
	background-color: #000000;
	border-radius: 25%;
}